{% extends 'base.html' %}
{% block title %}Формы{% endblock %}
{% block content %}

  <div class="container mx-auto my-4 border border-gray-300
rounded-md shadow-md p-4">
    <form method="POST">
      {% csrf_token %}
      <div class="mb-4">
        {% for field in form %}
          <div class="mb-2">
            <label for="{{ field.id_for_label }}"
                   class="block text-gray-800 text-sm font-bold
mb-2">{{field.label_tag}}</label>
            {{field}}
            <div class="text-red-500 text-xs italic">
              {{field.errors}}
            </div>
        {% endfor %}
          </div>
        <input type="submit" value="Отправить"
        class="bg-blue-500 hover:bg-blue-700 text-white
font-bold py-2 px-4 rounded">
      </div>
        {% if people.count > 0 %}
          <h5>Список</h5>
          <table>
            <thead>
              <tr>
                <th>№</th>
                <th>ФИО</th>
                <th>Возраст</th>
              </tr>
            </thead>
            <tbody>
              {% for person in people %}
                <tr>
                  <td>{{ person.id }}</td>
                  <td>{{ person.name }}</td>
                  <td>{{ person.age }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
    </form>
  </div>
{% endblock %}
